.row {
  padding-top: 20%;
  padding-bottom: 10%;
}

.diamond {
  position: relative;
  width: 20%;
  padding-bottom: 20%;
  background: red;
  margin-right: -100%;
  float: left;
  overflow: hidden;
  transform: rotate(45deg);
}

.diamond1 {
  margin-top: -15%;
  margin-left: 15%; // (100% - 40.5%) / 2
}

.diamond2 {
  background: blue;
}

.diamond3 {
  background: yellow;
  margin-left: 30%; // (100% - 40.5%)
}