// .diamond__grid {
//   display: flex;
// }

.row {
  padding-top: 20%;
  padding-bottom: 10%;
  padding-left: 20%;
}

.diamond {
  position: relative;
  width: 20%;
  height: 0;
  padding-bottom: 20%;
  background: red;
  margin-right: -100%;
  float: left;
  overflow: hidden;
  transform: rotate(45deg);

  & h4 {
    transform: rotate(-45deg);
  }
}

.diamond1,
.diamond6 {
  margin-top: -15%;
  margin-left: 15%; 
}

.diamond2,
.diamond7 {
  background: blue;
}

.diamond3,
.diamond8 {
  background: yellow;
  margin-left: 30%; 
}

.diamond4 {
  background: purple;
  margin-top: -15%;
  margin-left: -15%; 
}

.diamond9 {
  background: purple;
  margin-left: 60%;  
}

.diamond5,
.diamond10 {
  background: purple;
  margin-top: -15%;
  margin-left: 45%; 
}