


$break-small: 740px;


@font-face {
	font-family: "ziden";
	src: url("../../assets/fonts/AkzidenzGroteskBE-MdCn.otf"),
}

@font-face {
	font-family: "ziden-reg";
	src: url("../../assets/fonts/AkzidenzGroteskBE-Regular.otf"),
}

@font-face {
	font-family: "GearedSlab";
	src: url("../../assets/fonts/GearedSlab.ttf"),
}

@font-face {
	font-family: "ziden-light";
	src: url("../../assets/fonts/AkzidenzGroteskBE-LightCn.otf"),
}


.cards {
	height: 550px;
	margin-top: 5%;
		@media screen and (min-width:  $break-small) {
			    display: flex;
	} 
}



.card__one, .card__two, .card__three {
	display: flex;
	font-family: ziden;
	flex-direction: column;
	

	& h3 {
		display: flex;
		color: #c02026;
		text-transform: uppercase;
		font-size: 30px;
		justify-content: center;
		@media screen and (min-width:  $break-small) {
			font-size: 20px;
			color: #ffffff;
		}
	}

	& div {
		display: flex;
		justify-content: space-evenly;
			@media screen and (min-width:  $break-small) {
			    flex-direction: column;
			    
			    
			    
			}

			img  {
				@media screen and (min-width:  $break-small) {
			    	width: 49%;  
			    
				}
			}

		& p {
			color: #ffffff;
			

				&.card__middle {
					display: flex;
					font-size: 10px;
					font-family: ziden-reg;
					flex-direction: column;
					
				}
				
				
				&.card__right {
					font-size: 10px;
					display: flex;
					font-family: ziden;
					text-transform: uppercase;
					// flex-direction: column;
				}
				
			}
	}

}