@import "reset";
@import "diamond";



@font-face {
	font-family: "ziden";
	src: url("../../assets/fonts/AkzidenzGroteskBE-MdCn.otf"),
}

@font-face {
	font-family: "GearedSlab";
	src: url("../../assets/fonts/GearedSlab.ttf"),
}









* {
	box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100%;
	background: grey;
}

.header__bg {
	position: relative;
	background-image: url(../../assets/img/snow__bg.JPG);
	background-repeat: no-repeat;
	background-size: cover;
	height: 550px;
}

.subnav__nav {
	display: flex;

	li{
		display: none;
	}
}

.navbar {
	display: flex;
}

.nabvar__main__nav,
.navbar__search,
.nabar__chart {
	display: flex;
	align-items: center;
}

.nabvar__main__nav__shop_hover {
	display: none;
}

.rei__logo {
	background-image: url(../../assets/img/rei-logo.png);
	background-repeat: no-repeat;
	width: 100vh;
	height: 40vh;
}

/////////////////      SQUARE-SECTION     	/////////////////////////////////////////////////

.squares {
	width: 100%;
	height: 0;
	position: relative;
	margin-left: 10%;
	padding-top: 59%;

}

.square {
	color: #ffffff;
	font-family: ziden;
	text-transform: uppercase;
	position: absolute;
	width: 31.25%;
	height: 0;
	padding-bottom: 31.25%;
	background: rgba(116, 116, 117, 0.6);
	border: 5px solid #ecebed;

	& h3{

		&.shop {
		font-size: 34px;
		transform: rotate(-45deg) translateY(100%);
		}
	}

	& h2 {
		font-size: 44px;
		transform: rotate(-45deg) translateY(100%);
	}


	
	$distance: 106%;

	&.square1 {
		transform: rotate(45deg) translateY(0%);
	}

	&.square2 {
		transform: rotate(45deg) translateY(-$distance);
	}

	&.square3 {
		transform: rotate(45deg) translateX($distance) translateY(0%);
	}

	&.square4 {
		transform: rotate(45deg) translateX($distance) translateY(-$distance);
	}
}



///////////////         END OF SQUARE SECTION 			////////////////////////////////////////



.members__part1 {
	color: #c72026;
	font-family: GearedSlab;
}

.members__part2 h2 {
		color: #c72026;
		font-size: 50px;
		font-family: GearedSlab;
	}









