@import "reset";
@import "diamond";
@import "cards";
@import "footer";




$break-small: 740px;
$break-large: 1200px;




@font-face {
	font-family: "ziden";
	src: url("../../assets/fonts/AkzidenzGroteskBE-MdCn.otf"),
}

@font-face {
	font-family: "ziden-reg";
	src: url("../../assets/fonts/AkzidenzGroteskBE-Regular.otf"),
}

@font-face {
	font-family: "GearedSlab";
	src: url("../../assets/fonts/GearedSlab.ttf"),
}

@font-face {
	font-family: "ziden-light";
	src: url("../../assets/fonts/AkzidenzGroteskBE-LightCn.otf"),
}







* {
	box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100%;
	background: black;
}

.header__bg {
	// position: relative;
	background-image: url(../../assets/img/snow__bg.JPG);
	background-repeat: no-repeat;
	background-size: cover;
	height: 550px;
}

.subnav__nav {
	display: flex;

	li{
		display: none;
	}
}

.navbar {
	display: flex;
}

.nabvar__main__nav,
.navbar__search,
.nabar__chart {
	display: flex;
	align-items: center;
	display: none;
}

.nabvar__main__nav__shop_hover {
	display: none;
}

.rei__logo {
	background-image: url(../../assets/img/rei-logo.png);
	background-repeat: no-repeat;
	width: 100vh;
	height: 40vh;
	display: none;
}

///////////////////// Arrow Section ///////////////////////


.grey__arrow {
	width: 0;
    height: 0;
    z-index: 1;
    border-top: 199px solid transparent;
    border-bottom: 211px solid transparent;
    border-right: 198px solid #6d6d6f;
    float: right;
    margin-top: -200px;
    @media screen and (min-width:  $break-small) {
			    display: none;
	} 

}

.grey__right img {
	display: none;
	@media screen and (min-width:  $break-small) {
			   display: inline;
			   float: right;
	} 

}

.grey__left {
	display: none;

    @media screen and (min-width:  $break-small) {
			    display: inline;
	} 

}

////////////////////// End of Arrow Section ///////////////////////


/////////////////      SQUARE-SECTION     	/////////////////////////////////////////////////

.squares {
	width: 100%;
	height: 0;
	position: relative;
	margin-left: 10%;
	padding-top: 50%;

	 @media screen and (min-width:  $break-small) {
      display: none;
    }

}

.square {
	color: #ffffff;
	font-family: ziden;
	text-transform: uppercase;
	position: absolute;
	width: 31.25%;
	height: 0;
	padding-bottom: 31.25%;
	background: rgba(116, 116, 117, 0.6);
	border: 5px solid #ecebed;

	& h3{

		&.shop {
		font-size: 150%;
		transform: rotate(-45deg) translateY(100%);
		}
	}

	& h2 {
		font-size: 210%;
		transform: rotate(-45deg) translateY(100%);
	}





	
	$distance: 106%;

	&.square1 {
		transform: rotate(45deg) translateY(0%);
	}

	&.square2 {
		transform: rotate(45deg) translateY(-$distance);
	}

	&.square3 {
		transform: rotate(45deg) translateX($distance) translateY(0%);
	}

	&.square4 {
		transform: rotate(45deg) translateX($distance) translateY(-$distance);
	}
}



///////////////         END OF SQUARE SECTION 			////////////////////////////////////////



.anniversary {
	display: none;
}

.may {
	display: none;
}

.members {
	background-color: #ffffff;
	clip-path: polygon(0 0, 50% 0, 77% 100%, 0% 100%);
	height: 174px;

		@media screen and (min-width:  $break-small) {
			clip-path: polygon(0 0, 85% 0, 75% 100%, 0% 100%);
		}


}


.members__part1 {
	color: #c72026;
	text-transform: uppercase;
	font-size: 40px;
	font-family: GearedSlab;
	padding-top: 30px;
	padding-left: 20px;

}

.members__part2 {
	display: flex;
	padding-left: 20px;

	h2 {
		color: #c72026;
		font-size: 65px;
		font-family: GearedSlab;
	}

	 h4 {
	 	font-size: 30px;
	 	text-transform: uppercase;
		font-family: ziden;
	}

	h5 {
		text-align: center;
	}
}

.members__part3 {
	display: flex;
	flex-direction: column;
} 

.shipping {
	display:none;
}





.member__section {
	background-image: url(../../assets/img/hikerr.png);
	background-repeat: no-repeat;
	height: 862px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;

}

.become__a__member {
	text-transform: uppercase;
	justify-content: flex-end;
	align-self: flex-end;

}

.become__a__member h2 {
	color: #c72026;
	font-family: GearedSlab;
	text-transform: uppercase;
	font-size: 40px;
}

.become__a__member h4 {
	width: 57.34375%;
	color: #ffffff;
	font-size: 20px;
	font-family: ziden;
}

.member__hide{
	display: none;
}

.subsale {
	color: #ffffff;
    padding: 28px;
    z-index: 5;
    font-size: 14px;
    font-family: ziden-reg;
    line-height: 21px;

}

.promotion {

	color: #ffffff;
	text-transform: uppercase;
	font-family: GearedSlab;
	font-size: 24.65pt;
	text-align: center;

	h2{
		
	}

	h3 {
		padding-left: 19%;
	}

	h4 {
		padding-left: 19%;
		font-family: ziden-light; 
		font-size: 13px;
		width: 93%;

	}
}


