
@import "reset";
@import "cards";
@import "footer";


$break-small: 740px;






@font-face {
	font-family: "GearedSlab";
	src: url("../../assets/fonts/GearedSlab.ttf"),
}

@font-face {
	font-family: "ziden";
	src: url("../../assets/fonts/AkzidenzGroteskBE-MdCn.otf"),
}

@font-face {
	font-family: "ziden-x";
	src: url("../../assets/fonts/AkzidenzGroteskBE-XBdCn.otf"),
}

@font-face {
	font-family: "ziden-bold";
	src: url("../../assets/fonts/AkzidenzGroteskBold.ttf"),
}

@font-face {
	font-family: "ziden-cn";
	src: url("../../assets/fonts/AkzidenzGroteskBE-Cn.otf"),

}

@font-face {
	font-family: "ziden-light";
	src: url("../../assets/fonts/AkzidenzGroteskBE-LightCn.otf"),
}

@font-face {
	font-family: "ziden-reg";
	src: url("../../assets/fonts/AkzidenzGroteskBE-Regular.otf"),
}




* {
	box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100%;
	background: black;
}

header{
	// position: relative;
	background-image: url(/assets/img/savannah.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 550px;
}

.subnav__nav {
	display: flex;

	li{
		display: none;
	}
}

.navbar {
	display: flex;
}

.nabvar__main__nav,
.navbar__search,
.nabar__chart {
	display: flex;
	align-items: center;
}

.nabvar__main__nav__shop_hover {
	display: none;
}

.rei__logo {
	background-repeat: no-repeat;
	width: 100vh;
	height: 40vh;

	@media screen and (max-width:  $break-small) {
			   display: none;
		}
}




.maintravel__text {
	color: white;

	

	.travel__big {
		display: flex;
		padding-bottom: 4%;

		h1 {
			text-transform: uppercase;
			font-size: 55px;
			font-family: GearedSlab;
		}

		h2 {
			font-size: 30px;
			font-family: ziden-light;
		}

		@media screen and (max-width:  $break-small) {
			flex-direction: column;
			text-align: center;
		}
	}


	.maintravel__subtext {
		text-align: center;
		display: flex;

		@media screen and (max-width:  $break-small) {
			   display: flex;
			   text-align: center;
			   justify-content: space-around;
		}

		h4 {
			text-transform: uppercase;
			font-family: ziden-cn;
			font-size: 25px;
			margin-left: 4%;
		}

		p {
			font-size: 17px;
			font-family: ziden-reg;
		}

	}

	h3{
			text-transform: uppercase;
			font-family: ziden-x;

			@media screen and (max-width:  $break-small) {
			   display: none;
			}

		}
}




.maintravel__ankled__nav {
	font-family: GearedSlab;

	& a {
		text-decoration: none;
		
	}

	& li {
		background-color: white;
		color: black;
		text-align: center;
		

		@media screen and (max-width:  $break-small) {
			   margin-bottom: 5px;
			   font-size: 34px;
			   padding: 2px;
		}
	}

	@media screen and (max-width:  $break-small) {
			   
		}

}

.mobile-award {
	display: none;
	@media screen and (max-width:  $break-small) {
			  display: inline-block;
			  color: black;
			  width: 100%;
			  text-align: center;
			  font-size: 24px;
		      font-family: ziden-reg;
		      font-weight: bold;
		      padding-top: 1%;
		}
}




.awardwinningtrips {
	display: flex;
	height: 95px;
	align-items: center;
	color: black;
	background-color: #e0ebf8;
	// padding: 20px 40px;

	@media screen and (max-width:  $break-small) {
			   background-color: black;
			   color: white;
			   flex-direction: row-reverse;
	} 

	.awardwinningtrips__text{
		width: 50%;
		padding-left: 20px;

		h2 {
			font-size: 24px;
		    font-family: ziden-cn;
		    margin-bottom: 5px;
		    @media screen and (max-width:  $break-small) {
			   display: none;
			} 
		}

		p {
			font-size: 11px;
			font-family: ziden-reg;
			width: 80%;
			@media screen and (max-width:  $break-small) {
			   width: 90%;
			   
			}

		}

	}

	.awardwinningtrips__video {
		height: 72px;
		width: 264px;
		background-image: url(/assets/img/video-pic.png); 
		background-position: center;
  		background-size: cover;
	}
}



.two__ankled__images{
	display: flex;
	width: 100%;
	// height: 800px;
	margin: 2%;

	@media screen and (max-width:  $break-small) {
  			flex-direction: column;
	} 
}



.ankled__box1 {
	width: 1011px;
	float: left;
	
	// clip-path: polygon(0 0, 61% 0, 36% 100%, 0% 100%);
	background-image: url(/assets/img/Layer11.png);
  	background-size: contain;

  	background-repeat: no-repeat;

  		@media screen and (max-width:  $break-small) {
  			height: 245px;
  			background-image: url(/assets/img/hut.png);
  			background-size: cover;
  			margin-bottom: 2%;
		} 

  	.ankled_box1__text {
  		display: flex;
  		flex-direction: column;
  		align-items: flex-end;
  		padding-top: 4%;

  		h2 {
  			background-color: white;
		    height: 55px;
		    margin-right: 26%;
		    font-size: 30px;
		    width: 70%;
		    text-align: center;
		    clip-path: polygon(12% 0, 100% 0%, 92% 100%, 0% 97%);

			
			@media screen and (max-width:  $break-small) {
	  			clip-path: polygon(36% 0, 100% 0, 100% 100%, 26% 100%);
	  			margin-right: 0;
			} 
  		}

  		
  	}

  	.desktop__sec{
  		display: flex;
  		color: white;
  		margin-right: 30%;

  		a {
  			color: white;
  			align-self: flex-end;
  		}

  		@media screen and (max-width:  $break-small) {
  			flex-direction: column;
  			margin-right: 10%;
		} 

  	}

  	@media screen and (max-width:  $break-small) {
			   width: 100%;
			   clip-path: none;
			   float: none;
	} 

	// background-image: url(/assets/img/hut.png);
}


.ankled__box2 {
	width: 1011px;
	margin-left: -27%;
	
	background-image: url(/assets/img/Layer12.png);
	// clip-path: polygon(53% 0, 100% 0, 100% 100%, 27% 100%);
	
	background-repeat: no-repeat;
  	background-size: contain;
  	@media screen and (max-width:  $break-small) {
  			   margin-bottom: 1%;
			   width: 100%;
			   height: 245px;
			   margin-left: 0;
			   // clip-path: none;
			   background-size: cover;
			   background-position: center;
			   background-image:url(/assets/img/elephant.png);
	}

	// .ankled__image2 {
	// 	clip-path: polygon(53% 0, 100% 0, 100% 100%, 27% 100%);
	// 	float: right;
	// 	position: absolute;

	// 	@media screen and (max-width:  $break-small) {
	// 		 display: none;
	// 	}
	// } 

	.ankled_box2__text {
  		display: flex;
	    width: 126%;
	    flex-direction: column;
	    align-items: flex-start;
	    padding-top: 4%;

  		h2 {
  			    background-color: white;
			    height: 51px;
			    font-size: 30px;
			    width: 64%;
			    margin-left: 4%;
			    padding-left: 18%;
			    // margin-top: 20%;
			    text-align: left;
			    -webkit-clip-path: polygon(16% 0, 100% 0%, 92% 100%, 0% 100%);
    			clip-path: polygon(12% 0, 100% 0%, 92% 100%, 0% 97%);

  			@media screen and (max-width:  $break-small) {
  				clip-path: polygon(0 0, 72% 0, 64% 100%, 0 99%);
  				margin-left: 0;
			} 
			
  		}

  		
  	}

  	.desktop__sec2{
  		    text-align: right;
		    display: -ms-flexbox;
		    display: flex;
		    MARGIN-LEFT: 20%;
		    padding-bottom: 2%;
		    color: white;
		    margin-top: 20%;

  		a {
  			color: white;
  			align-self: flex-start;
  		}

  		@media screen and (max-width:  $break-small) {
  			flex-direction: column;
  			margin-top: 17%;
		} 

  	}



}


.four__rectangles {
	display: flex;
	flex-wrap: wrap;
	@media screen and (max-width:  $break-small) {
			   flex-direction: column;
	} 

}

.ractangle {
	width: 48.92473118%;
	display: flex;
	background: #ffffff;

		.ractangle_image {
			height: 97px;
			width: 191px;

			img{
				height: 100%;
				width: 100%;

				
			}
		}

		.rectangle__text {
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			padding-left: 20px;

			h4 {
				padding-top: 10px;
				font-family: ziden-bold;
			}

			p {
				font-family: ziden-reg;
				font-size: 12px;
			}

			.seedetails{
				font-size: 10px;
				align-self: flex-end;
				justify-content: flex-end;
				font-family: ziden-cn;
				margin-right: 7px;
				@media screen and (max-width:  $break-small) {
				margin-right: 25px;
			}


			}
		}
	// height: 5.059989567%;
	// align-content: space-between;

	@media screen and (max-width:  $break-small) {
		margin: 10px;
		width: 100%;
		height: 97px;
	}
}








